:root {
    --color-dark: #07484A;
    --color-primary: #70908B;
    --color-secondary: #CAF3E5;
    --color-light: #FDFBF8;
    --color-third: #FFF4E7;
    --color-violet:_ #EEEBFF;
    --color-red: #f70646;
       }

       h2{
        color: #07484A;
       }

